@mixin box-sizing ($sizing) {
    -webkit-box-sizing: $sizing;
    -moz-box-sizing: $sizing;
    box-sizing: $sizing;
}

@mixin display-flex() {
    display: -webkit-box;
    // OLD - iOS 6-, Safari 3.1-6 
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.box-border {
    border: 1px solid #ccc;
    @include box-sizing(border-box);
}
.boxDiv {
    @include display-flex()
}